<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-xl-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center"><i class="fa fa-plus" aria-hidden="true"></i> 請修改你的支出</h4>
          <hr>
          <form action="/expense/{{record._id}}?_method=PUT" method="POST">



            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">名稱*</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control" name="name" placeholder="" value="{{record.name}}"
                  maxlength="10" required>
                <small id="nameReminder" class="form-text text-muted">字數上限10字</small>
              </div>
            </div>

            <div class="form-group row">
              <label for="date" class="col-sm-2 col-form-label">日期*</label>
              <div class=" col-sm-10">
                <input type="date" name="date" class="form-control" value="{{record.date}}" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="category" class="col-sm-2 col-form-label">類別*</label>
              <div class=" col-sm-10">
                <select name="category" class="form-control" required>
                  <option disabled>Select</option>
                  <option value="家居物業" {{#if (eq record.category "家居物業" ) }} selected {{/if}}>家居物業</option>
                  <option value="交通出行" {{#if (eq record.category "交通出行" ) }} selected {{/if}}>交通出行</option>
                  <option value="休閒娛樂" {{#if (eq record.category "休閒娛樂" ) }} selected {{/if}}>休閒娛樂</option>
                  <option value="餐飲食品" {{#if (eq record.category "餐飲食品" ) }} selected {{/if}}>餐飲食品</option>
                  <option value="其他" {{#if (eq record.category "其他" ) }} selected {{/if}}>其他</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="merchant" class="col-sm-2 col-form-label">商家</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control" name="merchant" placeholder="" value="{{record.merchant}}"
                  maxlength="10">
                <small id="merchantReminder" class="form-text text-muted">字數上限10字</small>
              </div>
            </div>

            <div class="form-group row">
              <label for="rating" class="col-sm-2 col-form-label">金額*</label>
              <div class=" col-sm-10">
                <input type="number" class="form-control" name="amount" placeholder="" value="{{record.amount}}" min="0"
                  required>
              </div>
            </div>




            <div class=" text-center mt-5">
              <button type="submit" class="btn btn-dark">Save</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>